<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.url">
            jdbc:mysql:///test
        </property>
        <property name="connection.username">
            root
        </property>
        <property name="connection.password">
            06dmysql
        </property>
        <property name="hibernate.current_session_context_class">thread</property>
        <!--这里配置自动生成表结构(也可以手动生成表结构)-->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--注册映射文件-->
        <mapping resource="com/uiyllong/javabean/User.hbm.xml"/>
	</session-factory>
</hibernate-configuration>